html,
body {
  margin: 0 0 20px 0;
}

img {
  width: 100%;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about > h1 {
  font-size: 45px;
  font-weight: 900;
  text-align: center;
}

.about > p {
  text-align: center;
  padding: 0 15px;
}

.question {
  font-weight: bold;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.landing-adopt {
  background-color: #000080;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 40px;
}

.landing-adopt:hover {
  background-color: #323299;
  transition: 0.25s;
}

@media screen and (min-width: 700px) {
  .about > p {
    margin-left: 25%;
    margin-right: 25%;
  }
  img {
    width: inherit;
    height: 400px;
    overflow: hidden;
  }
}
