.header > h1 {
  font-size: 45px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: ;
}

.form {
  text-align: center;
}

.adopter {
  display: flex;
  flex: 3;
  flex-direction: row;
}

.cats {
  flex: 1;
}

.dogs {
  flex: 1;
}

ul {
  list-style-type: none;
}

.queue {
  flex: 1;
  flex-direction: row;
}

.adoption-pic {
  width: 100%;
  border: #18a837;
  border-style: solid;
  border-width: 2px;
}
